/* body {
  padding-top: 40px;
  font-family: 'Courier New', monospace;
  text-align: center;
}

#target {
  font-size: 48px;
  letter-spacing: .1em;
} */
body {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  align-items: center;
}
.wrapper {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-wrapper {
  text-align: center;
  /* align-items: center; */
  background-color: white;
  padding: 50px;
  width: 50%;
} 
#target {
  font-size: 3em;
  letter-spacing: 5px;
  font-weight: 400;
}