// マウスカーソルを消す
html,body,a,input,button {
  cursor: none;
}

// 本体
h1 {
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  align-items: center;
  #header {
    width: 100%;
    height: 100px;
    background-color: #000000d7;
    color: #ecedf0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 20px;
    }
  }
  .wrapper {
    background-image: url(../img/kingdom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .target-wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    // opacity: .5;
    padding: 50px;
    width: 50%;
    #target {
      font-size: 3em;
      letter-spacing: 5px;
      font-weight: 400;
      #clickHere {
        font-size: 20px;
        transition: all 0.3s ease;
        &:hover {
          font-size: 26px;
          color: rgb(242, 24, 24);
        }
      }
    }
    #result {
      font-size: 26px;
    }
  }
  #footer {
    width: 100%;
    height: 50px;
    background-color: #000000d7;
    color: white;
    text-align: center;
    line-height: 50px;
  }
  #stalker {
    pointer-events: none;
    position: fixed;
    top: -8px; //座標調節（カーソル位置と円の中心を合わせる）
    left: -8px; //座標調節（カーソル位置と円の中心を合わせる）
    width: 16px; //マウスストーカーの直径
    height: 16px; //マウスストーカーの直径
    background: rgba(252, 252, 18, 0.7);
    border-radius: 50%;
    transition: transform 0.2s, top 0.5s, left 0.5s, width 0.5s, height 0.5s,
    background-color 0.5s;
    transition-timing-function: ease-out;
    z-index: 999;
    &.hov_ {
      top: -32px;
      left: -32px;
      width: 64px;
      height: 64px;
      transition: 0.5s;
      background:rgba(252, 252, 18, 0.7);
    }
  }
  #cursor{
    transform: translate(0,0);
    pointer-events: none;
    position: fixed;
    top: -4px;    //座標調節（カーソル位置と円の中心を合わせる）
    left: -4px;   //座標調節（カーソル位置と円の中心を合わせる）
    width: 8px;   //カーソルの直径
    height: 8px;  //カーソルの直径
    background: rgba(16, 235, 231, 0.8);
    border-radius: 50%;
    z-index: 999;
    transition: width .3s, height .3s, top .3s, left .3s;
  }
}


.login-body {
  display: flex;
  flex-direction: column;
  background: #e9e9e9;
  color: #5e5e5e;
  font: 400 87.5%/1.5em "Open Sans", sans-serif;
  .login-wrapper {
    flex: 1;
    .form-wrapper {
      background: #fafafa;
      margin: 3em auto;
      padding: 0 2em;
      max-width: 370px;
      #formContainer {
        padding-bottom: 20px;
      }
      h1 {
        text-align: center;
        padding: 1em 0;
      }

      input {
        background: #fafafa;
        border: none;
        border-bottom: 2px solid #e9e9e9;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        height: 50px;
        transition: border-color 0.3s;
        width: 100%;
        &:focus {
          border-bottom: 2px solid #c0c0c0;
          outline: none;
        }
      }
    }
    .button1-2 {
      display: flex;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .button1,
    .button2,
    .button3 {
      border-radius: 5px;
      border: none;
      color: #fff;
      height: 50px;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }
    .button1 {
      background: #DB3E64;
      transition: opacity .3s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
    .button2 {
      background: #DBD353;
      transition: opacity .3s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
    .button3 {
      background: #27AEDB;
      transition: opacity .3s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
  }
}
// .form-footer {
//   font-size: 1em;
//   padding: 2em 0;
//   text-align: center;
//   .form-footer a {
//     color: #8c8c8c;
//     text-decoration: none;
//     transition: border-color 0.3s;
//     &:hover {
//       :hover {
//         border-bottom: 1px dotted #8c8c8c;
//       }
//     }
//   }
// }



