h1 {
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  align-items: center;
  #header {
    width: 100%;
    height: 100px;
    background-color: black;
    color: #ecedf0;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    box-sizing: border-box;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
    }
    ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
      gap: 20px;
    }
  }
  .wrapper {
    background-image: url(../img/kingdom.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .target-wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    // opacity: .5;
    padding: 50px;
    width: 50%;
    #target {
      font-size: 3em;
      letter-spacing: 5px;
      font-weight: 400;
      #clickHere {
        font-size: 20px;
        transition: all .3s ease;
        &:hover {
          font-size: 26px;
          color: rgb(242, 24, 24);
        }
      }
    }
    #result {
      font-size: 26px;
    }
  }
  #footer {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100px;
  }
  #stalker {
    pointer-events: none;
    position: fixed;
    top: -8px;     //座標調節（カーソル位置と円の中心を合わせる）
    left: -8px;    //座標調節（カーソル位置と円の中心を合わせる）
    width: 16px;   //マウスストーカーの直径
    height: 16px;  //マウスストーカーの直径
    background: rgba(252, 252, 18, 0.867);
    border-radius: 50%;
    transition: transform .2s, top .5s, left .5s, width .5s, height .5s, background-color .5s;
    transition-timing-function: ease-out;
    z-index: 999;
    &.hov_ {
      top: -32px;
      left: -32px;
      width: 64px;
      height: 64px;
      transition: .5s;
      background: rgba(242, 138, 10, 0.79);
    }
  }
}
  